<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="WpfApp1.Properties.Settings.BaseConnectionString" connectionString="Data Source=WIN-OMJN02Q49QC;Initial Catalog=Base;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OMJN02Q49QC;initial catalog=Base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Base_sql_Entities1" connectionString="metadata=res://*/SQL.csdl|res://*/SQL.ssdl|res://*/SQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OMJN02Q49QC;initial catalog=Base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="test_base_1" connectionString="metadata=res://*/test1.csdl|res://*/test1.ssdl|res://*/test1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OMJN02Q49QC;initial catalog=Base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RandomTicketGeneratorBase" connectionString="metadata=res://*/RandomTicketGenerator.csdl|res://*/RandomTicketGenerator.ssdl|res://*/RandomTicketGenerator.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OMJN02Q49QC;initial catalog=Base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RandomTicketGenerator" connectionString="metadata=res://*/RandomTicketGenerator.csdl|res://*/RandomTicketGenerator.ssdl|res://*/RandomTicketGenerator.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OMJN02Q49QC;initial catalog=Base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BaseEntities1" connectionString="metadata=res://*/RandomTicketGenerator.csdl|res://*/RandomTicketGenerator.ssdl|res://*/RandomTicketGenerator.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OMJN02Q49QC;initial catalog=Base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BaseEntities2" connectionString="metadata=res://*/RandomTicketGenerator.csdl|res://*/RandomTicketGenerator.ssdl|res://*/RandomTicketGenerator.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OMJN02Q49QC;initial catalog=Base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BaseEntities3" connectionString="metadata=res://*/RandomTicketGenerator.csdl|res://*/RandomTicketGenerator.ssdl|res://*/RandomTicketGenerator.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OMJN02Q49QC;initial catalog=Base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>